.hero {
  padding: 5.87rem 8.63rem 0;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  gap: 2rem;
  background-color: transparent;
}

.hero__heading {
  text-align: center;
  font-size: 4rem;
  font-weight: 600;
  line-height: 4.375rem;
  /* width: 60.875rem; */
  padding: 0 5.94rem;
}

.hero__subheading {
  color: #fff;
  text-align: center;
  font-size: 1.25rem;
  font-style: normal;
  font-weight: 400;
  line-height: 2rem; /* 160% */
  font-family: "Outfit", sans-serif;
}

.hero__button {
  display: flex;
  padding: 1rem 2rem;
  justify-content: center;
  align-items: center;
  gap: 0.75rem;
  background-color: var(--button);
}
