.brochures {
  padding: 6rem 0rem 6rem 8.625rem;
  display: flex;
  align-items: flex-start;
  gap: 3.5rem;
  background-color: var(--bg2);
  width: 100%;
}

.brochures__content {
  display: flex;
  flex-direction: column;
  gap: 2rem;
  width: 29.1875rem;
}

.pdf__points {
  display: flex;
  padding: 1rem 0rem;
  align-items: center;
  gap: 1rem;
  border-bottom: 1px solid rgba(255, 255, 255, 0.1);
}
