.brochures {
  padding: 6rem 0rem 10rem;
  background-color: var(--bg2);
  width: 100%;
  position: relative;
  overflow: hidden;
}

.brochures__container {
  display: grid;
  /* align-items: flex-start.; */
  grid-template-columns: 1.12fr 1.4fr;
  gap: 8rem;
}

.brochures__content {
  display: flex;
  flex-direction: column;
  gap: 2rem;
  width: 100%;
}

.pdf__points {
  display: flex;
  padding: 1rem 0rem;
  align-items: center;
  gap: 1rem;
  border-bottom: 1px solid rgba(255, 255, 255, 0.1);
}

.brochures__swiper {
  padding: 1.76rem 0;
}

.brochures__button {
  display: flex;
  padding: 1rem 1.875rem;
  justify-content: flex-start;
  align-items: center;
  gap: 0.75rem;
  width: fit-content;
  background-color: var(--button);
}

.brochures__swiper--container {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 1.5rem;
}

.swiper--container__title {
  font-size: 1.625rem;
  font-weight: 600;
  line-height: 1.75rem;
}

.swiper--container__button {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 0.75rem;
  text-align: justify;
  font-size: 1.125rem;
  font-weight: 700;
  line-height: 1.75rem;
}

.mySwiper {
  position: static;
}

.swiper-horizontal > .swiper-pagination-progressbar,
.swiper-pagination-progressbar.swiper-pagination-horizontal,
.swiper-vertical
  > .swiper-pagination-progressbar.swiper-pagination-progressbar-opposite,
.swiper-pagination-progressbar.swiper-pagination-vertical.swiper-pagination-progressbar-opposite {
  top: 110%;
  width: 100%;
  left: -9.5%;
  transform: translate(11%, -50%);
}

.mySwiper .swiper-pagination-progressbar {
  background-color: var(--white);
}

.mySwiper .swiper-pagination-progressbar-fill {
  background-color: var(--red);
}
