.about {
  padding: 6rem 0;
  background-color: var(--bg1);
}

.about__container {
  display: flex;
  gap: 7.18rem;
  justify-content: space-between;
  align-items: center;
}

.about__description {
  display: flex;
  justify-content: center;
  flex-direction: column;
  gap: 2rem;
}

.about__description--title {
  color: #fff;
  font-size: 1.875rem;
  font-weight: 700;
  line-height: 2.5rem;
  text-transform: capitalize;
}

.about__description--para {
  color: #fff;
  font-size: 1.125rem;
  font-weight: 500;
  line-height: 1.75rem;
}

.about_description--number {
  display: flex;
  gap: 1.62rem;
}

.number {
  display: flex;
  flex-direction: column;
  gap: 1rem;
}

.number__digit {
  font-size: 2.375rem;
  font-weight: 700;
  line-height: 2.5rem;
  text-transform: capitalize;
}

.number__text {
  font-size: 1rem;
  font-weight: 400;
  line-height: 1.625rem;
  text-transform: uppercase;
}

.about__description--button {
  display: flex;
  padding: 1rem 2rem;
  justify-content: center;
  align-items: center;
  gap: 0.75rem;
  background-color: var(--button);
  width: fit-content;
  font-weight: 700;
}

@media (width<=1024px) {
  .about__container {
    gap: 4rem;
  }
}

@media (width<=850px) {
  .about__container {
    flex-direction: row-reverse;
    position: relative;
  }

  .about__description--title {
    width: 57%;
  }

  .about__image {
    height: 17rem;
    width: 17rem;
    position: absolute;
    top: 1rem;
  }
}

@media (width<=500px) {
  .about__container {
    display: block;
  }

  .about__description {
    gap: 1.2rem;
  }
  .about__description--title {
    font-size: 1.4rem;
  }

  .about__image {
    display: none;
  }

  .about__description--title {
    width: 100%;
  }

  .about__description--para {
    font-size: 1rem;
  }

.about_description--number {
  flex-direction: column;
  gap: 1rem;
}
}
