.testimonials {
  background-color: var(--bg1);
  padding: 6rem 0 0;
}

.testimonials__description {
  padding-bottom: 6rem;
  display: flex;
  justify-content: space-between;
  gap: 7.94rem;
}

.testimonials__para {
  font-size: 1.125rem;
  font-weight: 400;
  line-height: 1.75rem;
  padding-top: 0.75rem;
  padding-bottom: 1.5rem;
}

.testimonials__description--right {
  background-color: var(--white);
  display: flex;
  width: 35.9375rem;
  padding: 2.5rem 3.42rem;
  flex-direction: column;
  align-items: flex-start;
  gap: 1.5rem;
}

.testimonials--right__para p {
  color: #232323;
  font-size: 1.125rem;
  font-weight: 700;
  line-height: 1.75rem;
}

.testimonials--right__person {
  display: flex;
  gap: 1.5rem;
}

.person__name {
  display: flex;
  flex-direction: column;
}

.person__name span:first-child {
  color: var(--button);
  text-align: center;
  font-size: 1.25rem;
  font-weight: 600;
  line-height: 1.75rem;
  text-transform: uppercase;
}

.person__name span:last-child {
  color: #687076;
  text-align: center;
  font-size: 1rem;
  font-weight: 400;
  line-height: 1.5rem;
}

.testimonials__request {
  background-image: url("/images/testimonials-request.png");
  padding: 6rem 6.19rem;
  display: flex;
  align-items: center;
  background-repeat: no-repeat;
  background-size: cover;
  justify-content: space-between;
}

.testimonials__request--heading {
  font-size: 2.75rem;
  font-weight: 600;
  line-height: 3.25rem;
  text-transform: capitalize;
  width: 41.68rem;
}

.testimonials__request--heading span {
  color: var(--button);
  font-size: 2.75rem;
  font-weight: 600;
  line-height: 3.25rem;
  text-transform: capitalize;
}

.testimonials__request--button {
  display: flex;
  padding: 1rem 1.875rem;
  justify-content: center;
  align-items: center;
  gap: 0.75rem;
  background-color: var(--button);
  height: fit-content;
}
