.testimonials {
  background-color: var(--bg1);
  padding: 6rem 0 0;
}

.testimonials_container {
  position: relative;
}

.testimonials__description {
  padding-bottom: 6rem;
  display: flex;
  justify-content: space-between;
  gap: 7.94rem;
}

.testimonials__para {
  font-size: 1.125rem;
  font-weight: 400;
  line-height: 1.75rem;
  padding-top: 0.75rem;
  padding-bottom: 1.5rem;
}

.mySwiper {
  position: relative;
}

.swiper-button-prev,
.swiper-button-next {
  top: 42% !important;
}

.swiper-button-next {
  right: 91% !important;
  background-image: url("/images/arrow-right.svg") !important;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  background-color: var(--button);
  padding: 1rem 1.2rem;
}

.swiper-button-prev {
  left: 1.4% !important;
  background-image: url("/images/arrow-left.svg") !important;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  background-color: var(--button);
  padding: 0.8rem 1.2rem;
}

.swiper-button-next::after,
.swiper-button-prev::after {
  content: "";
  opacity: 0;
}

.testimonials__description--right {
  background-color: var(--white);
  display: flex;
  width: 35.9375rem;
  padding: 2.5rem 3.42rem;
  flex-direction: column;
  align-items: flex-start;
  gap: 1.5rem;
}

.testimonials--right__para p {
  color: #232323;
  font-size: 1.125rem;
  font-weight: 700;
  line-height: 1.75rem;
}

.testimonials--right__person {
  display: flex;
  gap: 1.5rem;
}

.person__name {
  display: flex;
  flex-direction: column;
}

.person__name span:first-child {
  color: var(--button);
  text-align: center;
  font-size: 1.25rem;
  font-weight: 600;
  line-height: 1.75rem;
  text-transform: uppercase;
}

.person__name span:last-child {
  color: #687076;
  text-align: center;
  font-size: 1rem;
  font-weight: 400;
  line-height: 1.5rem;
}

.testimonials__request {
  background-image: url("/images/testimonials-request.png");
  padding: 6rem 6.19rem;
  display: flex;
  align-items: center;
  background-repeat: no-repeat;
  background-size: cover;
  justify-content: space-between;
}

.testimonials__request--heading {
  font-size: 2.75rem;
  font-weight: 600;
  line-height: 3.25rem;
  text-transform: capitalize;
}

.testimonials__request--heading p {
  color: var(--red);
  font-size: 2.75rem;
  font-weight: 600;
  line-height: 3.25rem;
  text-transform: capitalize;
}

.testimonials__request--button {
  display: flex;
  padding: 1rem 1.875rem;
  justify-content: center;
  align-items: center;
  gap: 0.75rem;
  background-color: var(--button);
  height: fit-content;
}

@media (width<=1024px) {
  .testimonials__description {
    gap: 2.5rem;
  }

  .swiper-button-prev,
  .swiper-button-next {
    top: 54% !important;
  }

  .swiper-button-next {
    right: 88% !important;
  }

  .swiper-button-prev {
    left: 3.5% !important;
  }

  .testimonials__description--right {
    width: auto;
    padding: 2rem 3rem;
  }

  .testimonials__request {
    padding: 3rem;
  }
}

@media (width<=850px) {
  .swiper-button-next {
    right: 85% !important;
  }

  .testimonials__description--right {
    padding: 1.5rem 2rem;
  }
}

@media (width<=500px) {
  .testimonials__description {
    flex-direction: column;
    gap: 5rem;
  }

  .testimonials__description--right {
    padding: 1rem 2rem;
  }

  .testimonials--right__person {
    flex-direction: column;
    align-items: center;
    width: 100%;
    gap: 1rem;
  }

  .testimonials--right__para p {
    font-size: 1.1rem;
  }

  .swiper-button-prev,
  .swiper-button-next {
    top: 33.5% !important;
  }

  .swiper-button-next {
    right: 68% !important;
  }

  .testimonials__request {
    padding: 1rem;
    flex-direction: column;
    gap: 2rem;
  }

  .testimonials__request--heading,
  .testimonials__request--heading p {
    font-size: 1.8rem;
    line-height: 2.5rem;
    text-align: center;
  }

  .testimonials__request--button {
    padding: 1rem 1.4rem;
  }
}
