.news {
  padding: 6rem 0;
  background-color: var(--bg1);
}

.news__top {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-bottom: 3.5rem;
}

.news__button {
  display: flex;
  gap: 0.75rem;
  height: fit-content;
  background-color: var(--button);
  align-items: center;
  padding: 1rem 1.875rem;
}

.news__button--btn {
  text-align: justify;
  font-size: 1.125rem;
  font-weight: 700;
  line-height: 1.75rem;
}

.news__content {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 3.31rem;
}

.news__content--left {
  display: flex;
  gap: 1.5rem;
  flex-direction: column;
}

.news__main {
  display: flex;
  flex-direction: column;
  gap: 1.12rem;
}

.news__field {
  display: flex;
  align-items: flex-start;
  gap: 1.125rem;
}

.news__field--title {
  padding: 0rem 0.625rem;
  border-radius: 0.1875rem;
  border: 1px solid rgba(255, 255, 255, 0.1);
  text-align: center;
  font-size: 0.875rem;
  font-weight: 400;
  line-height: 1.5rem;
  text-transform: uppercase;
}

.news__field--date {
  color: rgba(255, 255, 255, 0.8);
  text-align: justify;
  font-size: 0.875rem;
  font-weight: 400;
  line-height: 1.5rem;
  text-transform: uppercase;
}

.news__main--heading {
  font-size: 1.5rem;
  font-weight: 600;
  line-height: 2rem;
}

.news__main--para {
  font-size: 1.125rem;
  font-weight: 400;
  line-height: 1.75rem;
}

.news__content--right {
  display: flex;
  flex-direction: column;
  gap: 2.62rem;
}

.news--right__comp {
  display: flex;
  gap: 1.5rem;
}

.comp__content {
  display: flex;
  flex-direction: column;
  gap: 1rem;
}

.comp__content--heading {
  font-size: 1.5rem;
  font-weight: 600;
  line-height: 2rem;
}

.comp__content--button {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 0.75rem;
  width: fit-content;
  text-align: justify;
  font-size: 1.125rem;
  font-weight: 700;
  line-height: 1.75rem;
}

@media (width<=1024px) {
  .news__content {
    gap: 2rem;
  }
}

@media (width<=850px) {
  .news__content {
    display: flex;
    flex-direction: column;
  }

  .news__content--left {
    flex-direction: row-reverse;
    position: relative;
  }

  .news__main--heading {
    width: 55%;
  }

  .news__main--para {
    width: 58%;
  }

  .news__content--left__image {
    height: 12rem;
    position: absolute;
    top: 3.1rem;
  }

  .news__content--right {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 1rem;
  }

  .news--right__comp--image {
    object-fit: cover;
  }

  .news--right__comp {
    flex-direction: column;
  }

  .news__field--date{
    font-size: 0.7rem;
  }

  .comp__content--heading{
    font-size: 1.2rem;
  }
}
