.customers {
  padding: 6rem 0;
  background-image: url("/images/work-img.png");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

.customers__container {
  display: flex;
  flex-direction: column;
  gap: 3.5rem;
  justify-content: center;
}

.customers__points {
  display: flex;
  align-items: flex-start;
  flex-wrap: wrap;
  gap: 1.5625rem;
  width: 100%;
}

.customers__points--list {
  display: flex;
  width: 23.3125rem;
  height: 5rem;
  padding: 0rem 2rem;
  align-items: center;
  gap: 1.5rem;
  background-color: var(--white);
}

.customers__points--list span {
  color: var(--bg1);
  font-size: 1.25rem;
  font-weight: 600;
  line-height: 1.625rem;
  text-transform: uppercase;
}

@media (width<=1024px) {
  .customers__points {
    justify-content: center;
  }
}

@media (width<=850px) {
  .customers__points--list {
    width: 20.3125rem;
  }
}
